# General
*/.openapi-generator
.vscode

# Java
*/.classpath
*/.settings
*/target

# Node JS
rating-service/*.log
rating-service/node_modules
bookstore/node_modules
bookstore/dist

# Python


# Terraform
deployment/terraform/*/.terraform
deployment/terraform/*/dev.log
deployment/terraform/*/.terraform.tfstate.lock.info
deployment/terraform/*/terraform.tfstate.backup
