<div>
  <mat-sidenav-container>
    <mat-sidenav StoreSideNavFilter class="store-sidebar" #sideNav>
      <div class="store-filters-wrap">
        <form [formGroup]="filterForm">
          <mat-accordion multi="true" displayMode="flat">
            <!-- Genres -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Genres
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="product-categories">
                <li [ngClass]="{'fw-500': 'all' === activeGenre}" (click)="setActiveGenre('all')">All</li>
                <li *ngFor="let c of genres$ | async" [ngClass]="{'fw-500': c === activeGenre}" (click)="setActiveGenre(c)">{{c}}</li>
              </ul>
            </mat-expansion-panel>
            <!-- Price -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Price
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minPrice']['value'] || 20 | currency:'USD'}}</p>
              <mat-slider class="full-width mb-1 pl-0" [formControl]="filterForm.controls['minPrice']" [max]="filterForm.controls['maxPrice']?.value - 5"
                [min]="20"></mat-slider>

              <p class="m-0">Max: {{filterForm.controls['maxPrice']['value'] || 40 | currency:'USD'}}</p>
              <mat-slider class="full-width pl-0" [formControl]="filterForm.controls['maxPrice']" [max]="50" [min]="filterForm.controls['minPrice']?.value + 5"></mat-slider>
            </mat-expansion-panel>
            <!-- Ratings -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ratings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minRating']['value'] || 1}}</p>
              <mat-slider class="full-width mb-1" [formControl]="filterForm.controls['minRating']" [max]="filterForm.controls['maxRating']?.value - 1"
                [min]="1"></mat-slider>

              <p class="m-0">Max: {{filterForm.controls['maxRating']['value'] || 5}}</p>
              <mat-slider class="full-width mb-1" [formControl]="filterForm.controls['maxRating']" [max]="5" [min]="filterForm.controls['minRating']?.value + 1"></mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
    </div>
    </mat-sidenav>
    <div class="store-wrap" fxLayout="row" fxLayoutWrap="wrap">
      <!-- Filters -->
      <!-- Right side -->
      <div class="full-width">
        <!-- Search Form -->
        <div fxLayout="row" fxLayout.lt-sm="column" class="store-top-toolbar">
          <button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>{{sideNav.opened ? 'format_indent_decrease' : 'format_indent_increase'}}</mat-icon> </button>
          <div class="product-search-wrap" fxFlex>
            <form [formGroup]="filterForm">
                <input type="text" name="searchProduct" placeholder="Search books" class="product-search default-bg full-width" [formControl]="filterForm.controls['search']">
            </form>
          </div>
          <!-- View change buttons and cart -->
          <div [fxHide.lt-md]="true">
            <button mat-icon-button [color]="viewMode === 'list-view' ? 'primary' : ''" (click)="viewMode = 'list-view'">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button mat-icon-button [color]="viewMode === 'grid-view' ? 'primary' : ''" (click)="viewMode = 'grid-view'">
              <mat-icon>apps</mat-icon>
            </button>
          </div>
          <span fxFlex="20px"></span>
          <button mat-raised-button color="accent" routerLink="/store/cart">
            <mat-icon>shopping_cart</mat-icon> Cart ({{cartData.itemCount}})
          </button>
        </div>
        <!-- Products container -->
        <div class="product-container"
        [ngClass]="{'list-view': viewMode === 'list-view'}">
          <!-- Product Box -->
          <div
          class="product-wrap"
          *ngFor="let book of books$ | async | paginate: { itemsPerPage: 8, currentPage: currentPage }; let i = index;"
          [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
            <div class="product-inner default-bg">
              <div *ngIf="book?.promotions?.text" class="product-badge mat-elevation-z7" [ngStyle]="{background: book?.promotions?.color || '#f44336'}">
                <span>{{book?.promotions?.text}}</span>
              </div>
              <div class="featured-img" [routerLink]="['/store/books/', book.bookId]">
                <img [src]="'assets/images/covers/' + book.coverPhoto" alt="cover image">
              </div>
              <div class="info-wrap p-1">
                <div class="main-info">
                  <h3 class="title" [routerLink]="['/store/books/', book.bookId]">{{book.title}}</h3>
                  <p class="text-muted p-line">{{book?.description}}</p>
                  <p class="text-muted p-line">
                    <strong>Genres: </strong> 
                    <span *ngFor="let g of book.genres; let i = index">
                      <span class="mat-color-default">{{g}}</span>{{(i < book.genres.length - 1)?", ":""}}
                    </span>
                  </p>
                  <p class="text-muted p-line">
                    <mat-chip-list>
                      <strong>Tags: </strong>
                      <mat-chip *ngFor="let t of book.tags">{{t}}</mat-chip>
                    </mat-chip-list>
                  </p>
                </div>
                <div class="actions">
                  <div class="price-rating">
                    <div class="product-rating" *ngIf="viewMode === 'grid-view'">
                      <star-rating [rating]="book.ratings.rating" [starType]="'svg'" [readOnly]="true" [size]="'small'" [staticColor]="'ok'"></star-rating>
                      <small class="text-muted">({{book.ratings.ratingCount}})</small>
                    </div>
                    <div class="price">
                      <span>{{book?.price?.amount | currency:book?.price?.currency}}</span>
                      <del class="text-muted">{{book?.price?.mrp | currency:book?.price?.currency}}</del>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <span fxFlex></span>
                    <button mat-icon-button (click)="addToCart(book)">
                      <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- End Product -->

          <div class="products-pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </div>

        </div>
        <!-- End Products container -->
      </div>

    </div>
  </mat-sidenav-container>
</div>
